
<%- include('./partials/header.ejs') %>
 

<div class="hero is-primary" >
  <%- include('./partials/nav.ejs')  %> 
  <div class="hero-body" style="background-color: rgb(21, 132, 121);">
      <div class="container" style="text-align: center;">
          <h1 class="title">
            <%= title %> 
          </h1>
      </div>
  </div>

    
</div>

<br>

<div class="card" style="width: 50rem; margin: 0 auto">
  <header class="card-header">
    <p class="card-header-title is-centered" style="color: rgb(21, 132, 121);">
      <input type="text" value="<%= data[0].title %>" name="title" id="updatedTitle">
    </p>
  </header>
  <div class="card-content">
    <div class="content">
        <textarea name="description" id="updatedDescription" cols="80" rows="4"><%= data[0].description %></textarea>
      <br>
        <input type="datetime-local" name="time" id="updatedTime" value="<%= data[0].time %>">

        <input type="text" name="type_id" id="updatedtypeID" value="<%= data[0].type_id %>" style="display: none;">
        <input type="text" name="lng" id="updatedlng" value="<%= data[0].lng %>" style="display: none;">
        <input type="text" name="lat" id="updatedlat" value="<%= data[0].lat %>" style="display: none;">

      <!-- 11:09 PM - 1 Jan 2016 -->
    </div>
  </div>
  <footer class="card-footer">
    <div href="#" class="card-footer-item"><button class="button is-primary" id="saveActivity" value="<%= data[0].id %>">Save</button></div>
  </footer>
</div>


<script>

  $("#saveActivity").on('click', function() {
      let id = $(this).val();
      let title = $("#updatedTitle").val();
      let desc = $("#updatedDescription").val();
      let time = $("#updatedTime").val();
      let type = $("#updatedtypeID").val();
      let lng = $("#updatedlng").val();
      let lat = $("#updatedlat").val();
    let updatedActivity = {
        id: id,
        title: title,
        description: desc,
        time: time,
        type_id: type,
        lng: lng,
        lat: lat
      }
      $.ajax({
        type:'put',
        url:'/activities',
        contentType: 'application/json',
        data: JSON.stringify(updatedActivity),
        success: function(data){
          console.log(data)
        },
          
      });
  });
</script>


<% if (loggedIn) { %>
   
  <script>
    var username = '<%- username %>'
    var userId = `<%- userId %>`

    console.log(username, " + ", userId);
  </script>
  <%- include('./partials/chat.ejs') %>
<% } %>



<%- include('./partials/footer.ejs') %>