<%- include('./partials/header.ejs') %>
<div class="hero is-primary">
    <%- include('./partials/nav.ejs')  %> 
</div>

<div class = "container" style="color: white;">
    
    <a id = "username" style="color: white;"></a>

    <br><br>

    <div>
        Firstname <input type = "text" id = "fname" name = "fname" value = "x"> <br>
        Lastname <input type = "text" id = "lname" name = "lname" value = "x">
    </div>
</div>

<% data.forEach(element => { %>
    <%= element.activityID %> 
    <%= element.title %> 

<% }) %>

<% if (loggedIn) { %>
    <script>
        var username = '<%- username %>'
        var userId = `<%- userId %>`
        var fname = `<%- firstname %>`
        var lname = `<%- lastname %>`

        console.log(username + " + " + userId + " " + fname + "  " + lname);

        $("#username").html(username);
        $("#fname").val(fname);
        $("#lname").val(lname);
    </script>
<% } else { %>
    <script>
        $("#username").html("Please Log In");
    </script>
<% } %> 

<%- include('./partials/footer.ejs') %>