<%- include('./partials/header.ejs') %>
<div class="hero is-primary">
    <%- include('./partials/nav.ejs')  %> 
</div>

<div class = "container" style="color: white;">
    
    <a id = "username" style="color: white;"></a>

    <br><br>

    <div>
        Firstname <input type = "text" id = "fname" name = "fname" value = "x"> <br>
        Lastname <input type = "text" id = "lname" name = "lname" value = "x">
    </div>

    <!-- for loop through data -->

    <div class="container">
        <div class="row">
            <%= data[0] %> 
            <% data.forEach(function(event, index) { %>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <a href="discover/eventInfo/<%= event.activityID %>">
                            <div class="card-body">
                                <p class="card-text"></p>
                                <div class = "row">
                                    <div class = "col-8">
                                        <!-- activity title -->
                                        <h5><%= event.activityID %> </h5>
                                    </div>
                                    <div class = "col-4">
                                        <!-- activity id -->
                                        <p class = "text-right"> <%= event.activityID %>  </p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <!-- description -->
                                    <p><%= event.activityID %> </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    

    
</div>

<% if (loggedIn) { %>
    <script>
        var username = '<%- username %>'
        var userId = `<%- userId %>`
        var fname = `<%- firstname %>`
        var lname = `<%- lastname %>`

        console.log(username + " + " + userId + " " + fname + "  " + lname);
        console.log(data[0]);

        $("#username").html(username);
        $("#fname").val(fname);
        $("#lname").val(lname);
    </script>
<% } else { %>
    <script>
        $("#username").html("Please Log In");
    </script>
<% } %> 

<%- include('./partials/footer.ejs') %>