
<%- include('./partials/header.ejs') %>
<div class="hero is-primary">
    <%- include('./partials/nav.ejs')  %> 
</div>



<div class = "container has-text-black-bis">
    
    <h1 id = "username" class="title">Title 1</h1>
    <br>

    <div class = "has-text-black-bis">
        Firstname <input type = "text" id = "fname" name = "fname" value = "x"> <br>
        Lastname <input type = "text" id = "lname" name = "lname" value = "x"> <br><br>
    </div>

    <h1 class="title"> Activity History: </h1>

    <div class="container">
        <div class="row">
            <% data.forEach(function(event, index) { %>
                <div class="card">
                    <a href="/ActivityInformation?id=<%= event.activityID %>">
                        <div class="card-content">
                            <div class="content">
                                <% if (event.hostID == userId) { %>
                                    HOST
                                <% } %>  
                                <h5><%= event.title %> <%= event.activityID %></h5>
                            <br>
                            <time datetime="2016-1-1"><%= event.time %></time>
                            <p><%= event.description %> </p>
                            </div>
                        </div>
                    </a>
                </div>
                <br>
            <% }); %>
        </div>
    </div>
    

    
</div>



<% if (loggedIn) { %>
    <script>
        var username = '<%- username %>'
        var userId = `<%- userId %>`
        var fname = `<%- firstname %>`
        var lname = `<%- lastname %>`

        console.log(username + " + " + userId + " " + fname + "  " + lname);

        $("#username").html(username);
        $("#fname").val(fname);
        $("#lname").val(lname);
    </script>
<% } else { %>
    <script>
        $("#username").html("Please Log In");
    </script>
<% } %> 

<%- include('./partials/footer.ejs') %>